@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* background-color: cadetblue; */
    border: 100px solid blueviolet;
    border-top: 100px solid plum;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}